body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 8px 16px;
    border-radius: 9999px;
    cursor: pointer;
}

.btn.active {
    border:4px solid #CD0404;
}

.btn-primary{
    background-color: #FDA769;
}
.btn-secondary{
    background-color: #6F1AB6;
    color: #fff;
}

.card{
    border-radius: 16px;
    background-color: #A0C3D2;
    width: 60%;
    height: 60%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 32px;
}

.card-header{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-header h1 {
    font-size: 32px;
    font-weight: 800;
    text-align: center; 
}

.card-header .input-wrapper {
    width: 50%;
    display: flex;
    gap: 8px;
    justify-content: center;
    margin: 0 auto;
       
}

.card-header .buttons {
    display: flex;
    justify-content: space-evenly;
}

.card-body {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.card-body ul {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

ul li.to-do-list-item {
    display: flex;
    gap: 8px;
    align-items: center;
}




